# Ignore data folder
data/
figures/

# Ignore python swp and cache
code/python/scripts/*.swp
code/python/scripts/__pycache__
code/python/scripts/*.log
code/python/thickness_analysis/*.swp
code/python/thickness_analysis/__pycache__
code/python/tests/*.swp
code/python/tests/__pycache__
code/python/utils/*.swp
code/python/utils/__pycache__

# Ignore com swp files
com/*.swp

# Ignore asv files
code/MATLAB/m_scripts/*.asv
code/MATLAB/segmentation/*.asv
code/MATLAB/utils/*.asv
code/MATLAB/structure_tensor/*.asv
code/MATLAB/thickness_analysis/*.asv

# Ignore backup files
*.backup
        
# Ignore unet model
code/python/unet-segmentation/*.h5
